* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  float: right;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.nav {
  max-width: 1200px;
}

.top {
  display: flex;
  position: relative;
  padding: 20px;
  background-color: #f4d5ff;
}

.image1 {
  width: 100%;
  height: auto;
}

.image1-text {
  position: absolute;
  left: 2rem;
  right: 2rem;
  align-self: flex-end;
  color: gold;
  font-size: 1.2rem;
}

.stock {
  background-color: gray;
  font-size: 1rem;
  padding: 3px;
  color: gold;
}

button {
  border: none;
}

a {
  text-decoration: none;
  transition: background 0.3s ease-in-out;
  color: initial;
}

.name-date {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.blogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f4d5ff;
  flex-basis: 65%;
}

.health {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin: 2%;
  box-shadow: 0px 0px 5px 0px;
  flex-basis: 30%;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 25px;
  background-color: white;
}

.resp-text {
  position: relative;
}

.responsive {
  width: 100%;
  height: auto;
}

.blog-text {
  position: absolute;
  left: 1rem;
  color: darkviolet;
  padding-top: 10px;
  font-size: 1.3rem;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 20px;
}

.resp1 {
  width: 2vh;
  height: auto;
}

.blog-announcement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.latest-announcement {
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
  padding-left: 2%;
  padding-right: 2%;
  /*padding-top: 10px;
    padding-bottom: 10px;*/
  background-color: #f4d5ff;
}

.latest {
  background-color: whitesmoke;
  padding: 15px;
  box-shadow: 0px 0px 5px 0px;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .blogs {
    flex-basis: 100%;
  }

  .latest-announcement {
    flex-basis: 100%;
  }

  .health {
    flex-basis: 100%;
  }
}

.latest-text {
  padding-top: 25px;
  font-size: 20px;
}

.list {
  padding-top: 25px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.each-navigation {
  box-shadow: 0px 0px 2px 0px #ffd5f4;
  padding: 10px;
  border: solid 1px #ffd5f4;
}

.nav-link {
  color: green;
}



 .Footer_wrapper {  display: flex;  justify-content: center;  align-items: center;  width: 100%;  background-color: #f4d5ff;}
 .Footer__Container {  display: flex;  justify-content: space-between;  /* align-items: center; */  flex-wrap: wrap;  width: 90%;  padding: 20px 0;}

.Footer__Container p{
padding: 10px 0;
width:250px;
}

.logo { 
 font-size:40px;   cursor: pointer;
background: linear-gradient(to right, #FF0000, #FFFF00, #00FF00, #0000FF, #FF00FF);
background-clip: text;
color: transparent;

}
 .iconCon {  display: flex;  justify-content: flex-start;  align-self: center;  gap: 20px;  margin-top: 10px;}

.iconCon svg{
font-size:10px;
width:20px;
}
 .designLOgo {    color: blue;}
 a {  text-decoration: none;  color: inherit;}li {  list-style: none;}
 .footerfirstCon {  margin-bottom: 20px;}
 .footerfirstCon p {  font-size: 20px;  margin-top: 10px;}
 .widget-title {  padding-bottom: 10px;  font-size: 20px;}
 .single-footer {  display: flex;  justify-content: flex-start;  align-items: flex-start;  flex-direction: column;}
 .single-footer li
  {
    font-size: 17px;
    font-weight: 500;
  }

  .midfooter { display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
    margin-top: 10rem;
    background-color: #f4d5ff;
}

.notes {display: flex;
gap: 1rem;
flex-direction: column;
font-weight: bold;
padding-bottom: 2rem;
padding-left: 2rem;
background-color: #f4d5ff;}

.imgwidth {
    width: 100%;
    height: auto;
    gap: 2rem;
    padding-bottom: 1rem;
}
.connectnow {

    justify-content: center;
    background-color: gray;
    color: gold;
    padding: 10px;
    border-radius: 10px;
align-self: center;
    margin-top: 1rem;
    
    
    
    

        
    
}


.myblog {display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-top: 1rem;
    justify-content: center;
    
    
    }
    
    
    .ourinbox { padding-top: 7px;
    padding-left: 6rem;
    font-size: small;
  
    }
    
    .email {
        border: 1px solid gray;
        color: gray;
        padding-left: 1rem;
        margin-top: 1rem;
        padding-top: 7px;
        padding-bottom: 7px;
        align-items: flex-start;
        margin-left: 5px;
    font-size: small;
    }
    
    
    
    .subscribe { display: flex;
        border: 1.5px solid black;
        font-size: small;
        margin-top: 1rem;
        padding-top :7px;
        padding-bottom: 7px ;
        margin-left: 5px;
        padding-left: 12rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }
    











